@page "/ComponenteCard"


<h3>Card</h3>

@code {

}


<MudGrid>

    <MudItem md="3">
        <MudCard>
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">MA</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Istra Croatia</MudText>
                    <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="https://th.bing.com/th/id/R.730d18bfd1ee76c5aba3919ede5b0999?rik=6Rrtk2%2f3cpCLzw&riu=http%3a%2f%2fwww.ofiprix.com%2fblog%2fwp-content%2fuploads%2f2015%2f06%2ftobogan.jpg&ehk=7TZTBOY5wWqUqivn9WKbcNuN3ouTVf9DxHhuXzy4xJs%3d&risl=&pid=ImgRaw&r=0" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
            </MudCardActions>
        </MudCard>

    </MudItem>


      <MudItem md="3">
        <MudCard>
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">MA</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Istra Croatia</MudText>
                    <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="https://th.bing.com/th/id/R.730d18bfd1ee76c5aba3919ede5b0999?rik=6Rrtk2%2f3cpCLzw&riu=http%3a%2f%2fwww.ofiprix.com%2fblog%2fwp-content%2fuploads%2f2015%2f06%2ftobogan.jpg&ehk=7TZTBOY5wWqUqivn9WKbcNuN3ouTVf9DxHhuXzy4xJs%3d&risl=&pid=ImgRaw&r=0" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
            </MudCardActions>
        </MudCard>

    </MudItem>


</MudGrid>

